<footer class="page-footer font-small bg-secondary pt-4">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black sublinhado-gradiente">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items: end">
                <ul class="social-network">
                    
                    <li>
                        <a href="https://github.com/CaioGabrielAlves" target="_blank" class="icoGitHub">
                            
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://github.com/itzRapha" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="https://github.com/joao295" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/gustavogalli" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <p>Caio Gabriel Alves</p>
            <p>Caio Gabriel Alves</p>
            <p>Caio Gabriel Alves</p>
            </div>

    </div>

    <div class="footer-copyright text-center py-3 rodapebackground">
        <span class="text-white ">© Copyright: </span>
        <a href="https://github.com/gustavogalli/gen-projetoIntegrador-frontend-2" class="text-light">Gen.TI</a>
    </div>
</footer>