<nav class="navbar navbar-expand-lg navbar-light navbackground">

    <img src="../../assets/img/logo-fonte-branca.png" height="200px" width="200px" alt="">
    <a  class="navbar-brand" href="#" ></a>
  
    <div class="collapse navbar-collapse justify-content-end mr-1" id="navbarNavDropdown">
      <ul class="navbar-nav ml-2 ">
        <li class="nav-item ">
          <a class="nav-link text-white font3 sublinhado-gradiente " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font3 sublinhado-gradiente " href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white font3 sublinhado-gradiente " href="#">Cadastro</a>
        </li>
       
      </ul>
    </div>
  </nav>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="container-fluid" id="img-bg">
    <div class="row d-flex justify-content-end ">
      <div class=" col-md-4 backgroundform d-flex justify-content-center align-items-center mt-5 mp-5 ml-1 ">
  
        <form class="form-group">
  
          <div class="mb-3 ">
            
            <h2 class="font text-center">Login</h2>
            <label for="exampleInputEmail1" class="form-label text-center font3">Usuario</label>
            <input [(ngModel)]='usuarioLogin.usuario' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu Usuario">
            <div id="emailHelp" class="form-text font1 "></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label font3 ">Senha:</label>
            <input [(ngModel)]='usuarioLogin.senha' type="password" class="form-control" id="exampleInputPassword1"  placeholder="Sua Senha">
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn text-black bottomcolor bottomfont"  (click)='entrar()'  >Logar</button>
          </div>
        </form>
  
  
      </div>
    </div>
  
  </div>





















