<div class="container-fluid">
    <div class="row ">
        <div class="col-md-3">
            <div class="row d-flex justify-content-center my-5">

                <div class="card d-flex flex-column font-nome align-items-center" style="width: 18rem; ">
                    <img src="{{foto}}" alt="Imagem de User" class="mt-4 img-fluid rounded-circle w-50 "
                        alt="minha foto de perfil">

                    <div class="card-body d-flex flex-column  align-items-center">

                 
                        <div class="d-flex justify-content-center mt-5">


                        <h5 class="mb-4 text-center fonte-nome mr-5">{{nome}}</h5>
                        <i class="fa fa-cog row d-flex mx-1" aria-hidden="true"></i>

                    </div>
                 
                        <a href="#" class="btn btn-primary  w-100 my-2">Nova Postagem</a>
                        <a href="#" class="btn btn-primary  w-100 my-2">Minhas Postagens</a>
                        <a href="#" class="btn btn-primary w-100 my-2">Postagens por Tema</a>
                        
                    </div>
                </div>




                <div class="col-md-6">


                </div>
                <div class="col-md-3">






                </div>
            </div>


        </div>